<html>  
<head>  
    <title>upload the file : GFG</title>  
</head>  
<body>  
    <h1> Gestor de archivos Online </h1> 
    <p> Porfavor seleccione y suba  una archivo: </p>  
    <form action = "/upload_file" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />  
        <input type = "submit" value="Upload">  
    </form>  
   
    <form action = "/view" method = "post">  
        <input type="submit" value="ver archivo"  />  
 
    </form>  
    
</body>  
</html>  


